.app-title {
    font-size: 36px; /* Размер шрифта для заголовка */
    color: #333; /* Цвет текста */
    text-align: center; /* Центрирование текста */
    margin: 20px 0; /* Отступ сверху и снизу */
}